.drop-down{
    position: relative;
    min-height: auto;
}
.menu-back{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.drop-down-menu{
    position: absolute;
    text-align: left;
    background-color: white;
    box-shadow: 1px 1px 10px #e0e0e0;
    border-radius: 12px;
    font-size: 17px;
    right: 0;
    top: 55px;
    width: 200px;
    min-width: 180px;
    max-width: 360px;
    padding: 5px 10px;
    z-index: 5;
}
.show-menu{
    display: block;
}
.drop-down-menu ul{
    padding: 0px;
    margin: 0px;
}
.drop-down-menu li{
    list-style: none;
    padding: 10px;
    z-index: 200;
}

.drop-down-menu li:hover{
    border-radius: 7px;
    background-color: rgb(240, 240, 240);
}

.add {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    z-index: 900;
}

.back {
    position: fixed;
    z-index: 900;
    top: 20%;
    left: 2%;
    background-color: white;
    border-radius: 25px;
}

.back:hover {
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
}

.add-down-menu{
    position: absolute;
    text-align: left;
    background-color: white;
    box-shadow: 1px 1px 10px #e0e0e0;
    border-radius: 12px;
    font-size: 17px;
    right: 0;
    bottom: 55px;
    width: 200px;
    min-width: 180px;
    max-width: 360px;
    padding: 5px 10px;
    z-index: 5;
}

.add-button {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
}

.pad {
    padding: 8px;
}

.but {
    background-color: white;
    box-shadow: 1px 1px 10px #e0e0e0;
    z-index: 5;
}

.add-down-menu li:hover{
    border-radius: 7px;
    background-color: rgb(240, 240, 240);
}