.pin-index-container {
  position: relative;
  top: 72px;
  column-count: 7;
  column-gap: 24px;
  margin: 0 24px 24px 24px;
  z-index: 100; 
  text-align: center;
}

.pin-index-item-container {
  display: inline-block;
  width: 236px;
  margin-bottom: 18px;
  text-align: left;
}

.pin-index-item-container:hover img {
  filter: brightness(90%);
}

.pin-index-item-image img {
  width: 100%;
  border-radius: 24px;
}

.pin-index-item-title {
  padding-top: 2px;
  padding-left: 8px;
}

@media screen and (min-width:0){
  .profile-container,
  .pin-index-container,
  .profile-pin-index-container,
  .profile-container {
    column-count: 1;
    top: 155px;
  }
}
@media screen and (min-width:500px){
  .profile-container,
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 2;
    top: 74px
  }
}

@media screen and (min-width:750px){
  .profile-container,
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 3;
  }
}

@media screen and (min-width:1000px){
  .profile-container,
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 4;
  }
}

@media screen and (min-width:1250px){
  .profile-container,
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 5;
  }
}

@media screen and (min-width:1500px){
  .profile-container,
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 6;
  }
}

@media screen and (min-width:1700px){
  .profile-container,
  .pin-index-container,
  .profile-pin-index-container {
    column-count: 7;
  }
}

.hui {
  justify-content: flex - start;
  padding: 20px;
  padding-top: 10%;
}

.hhu {
  min-width: auto;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.281);
}

.mmm {
  border-radius: 20px;
  margin: 10px;
  min-width: 200px;
  max-width: 600px;
  min-height: 40px;
}

.nnn {
  padding: 20px 0;
  height: auto;
  max-width: 600px;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  z-index: 10;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.muu {
  font-size: 12px;
}

.pencil-show {
  width: 20px;
  border: white solid 10px;
}

.pencil-show:hover {
  border: rgb(226, 226, 226) solid 10px;
  border-radius: 25px;
  background-color: rgb(226, 226, 226);
}

.ml10 {
  margin-left: 10px;
}

.loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(76, 76, 76, 1);
    z-index: 1000;
}

/* loader */

.lds-grid {
  display: inline-block;
  position: relative;
  margin: 20% 50%;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {opacity: 1;}
  50% {opacity: 0.5;}
}